<div class="flex d-flex flex-row align-items-center" style="height: 60vh;">
    <div class="w-75 flex d-flex flex-column">
        <p class="fw-bold" style="font-size: 40px;"><b>Selamat Datang Di WorkSync.</b></p>
        <p class="fs-4 fw-semibold">Mengoptimalkan Setiap Langkah,<br> Menggapai Potensi Terbesar Proyek Anda!</p>
    </div>
    <div class="">
        <img src="/images/workSync.png" alt="workSync.png" width="500" class="mt-4">
    </div>
</div>