<div>
  <h1>Role Profile</h1>
  <a href="/roles" class="btn btn-primary">Back</a>
</div>
<div class="flex d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= rolesData.name %></h5>
      <p class="card-text"><%= rolesData.description %></p>
    </div>
  </div>
</div>
