<div></div>
    <h1>Task Detail</h1>
    <a href="/tasks" class="btn btn-primary">Back</a>
</div>
<div class="container flex d-flex mt-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= task.name %></h5>
            <p class="card-text"><%= task.description %></p>
            <p class="card-text"><%= task.startAt %></p>
            <p class="card-text"><%= task.endAt %></p>
        </div>
    </div>
</div>