<main>
    <div class="container">
      <div class="py-5 text-center">
        <h2>Create New Project</h2>
        <p class="lead">Fill in the form below to create a new Project.</p>
      </div>
  
      <div class="row g-5 justify-content-center">
        <div class="col-md-8 form-card">
          <h4 class="mb-3">New Project Form</h4>
          <form id="projectForm" action="/projects" method="POST">
            <div class="row g-3">
              <div class="col-12">
                <label for="name" class="form-label">Project Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter Project name"
                  required
                />
                <div class="invalid-feedback">Project Name is required.</div>
              </div>
  
              <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  placeholder="Enter description"
                  required
                />
                <div class="invalid-feedback">Project Description is required.</div>
              </div>
            </div>
  
            <hr class="my-4" />
            <button id="submitBtn" class="w-100 btn btn-primary btn-lg btn-custom" type="submit">
              Create Project
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script>
  document.getElementById('submitBtn').addEventListener('click', function (e) {
    e.preventDefault(); // Mencegah form dikirim secara langsung
    Swal.fire({
      title: 'Are you sure?',
      text: "Do you want to create this project?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, create it!'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById('projectForm').submit(); // Kirim form jika dikonfirmasi
      }
    });
  });
  </script>
  