<div>
    <h1>Project Detail</h1>
    <a href="/projects" class="btn btn-primary">Back</a>
</div>
<div class="flex d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= Project.name %></h5>
            <p class="card-text"><%= Project.description %></p>
            <p class="fw-semibold m-0 p-0">Project Start</p>
            <p class="card-text"><%= formattedStartAt %></p>
            <p class="fw-semibold m-0 p-0">Project End</p>
            <p class="card-text"><%= formattedEndAt %></p>
        </div>
    </div>
</div>