<div>
    <h1>Project Detail</h1>
    <a href="/dashboard" class="btn btn-primary">Back</a>
</div>
<div class="flex d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text"><%= project.description %></p>
            <p class="card-text"><%= project.startAt %></p>
            <p class="card-text"><%= project.endAt %></p>
        </div>
    </div>
</div>